
body {
    font-family: Helvetica, sans-serif;
    background-color:#344A75;
  padding: 0px;
    margin: 0px;
    text-align: center;
  }
  
 
 
    #slideshow {
          overflow: hidden;
          height: 310px;
          width: 728px;
          margin: 0 auto;
        }
        
        .slide-wrapper {
          width: 2912px;
          animation: slide 10s ease infinite;
          
        }
        
        .slide {
          float: left;
          height: 610px;
          width: 728px;
        }
        
        .slide:nth-child(1) {
          background: #D93B65;
          
        }
        
        .slide:nth-child(2) {
          background: #037E8C;
         
        }
        
        .slide:nth-child(3) {
          background: #36BF66;
        }
        
        .slide:nth-child(4) {
          background: #D9D055;
        }
        .slide:nth-child(5) {
          background:  #36BF66;
        }
        .slide:nth-child(6) {
          background:  #36BF66;
        }
        
        .slide-number {
          color: #000;
          text-align: center;
          font-size: 10em;
        }
        
        @keyframes slide {
          20% {margin-left: 0px;}
          30% {margin-left: -728px;}
          50% {margin-left: -728px;}
          60% {margin-left: -1456px;}
          70% {margin-left: -1456px;}
          80% {margin-left: -2184px;}
          90% {margin-left: -2184px;}
          100%{margin-left: -2184px;}
        }





        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 300px;
        
          /* text-align: center; */
          float: left;
          font-family: arial;
          margin-left: 5px;
          margin-right: 5px;
          padding: 2%;
        }
        
        .price {
          color: grey;
          font-size: 12px;
        }
        
        .card button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
        
        .card button:hover {
          opacity: 0.7;
        }
        
  .tableBackground{
    background-color: white;
    width: fit-content;
    height: fit-content;
    align-items: center;
   text-align: center;
  }
  table{
    table-layout: fixed;
  }
  td {
    overflow: hidden;
    max-width: 400px;
    word-wrap: break-word;
    text-align: center;
    margin: 10px;
    }


    div.scroll { 
      margin:4px, 4px; 
      padding:4px; 
    
      width: 900px; 
      height: 410px; 
      overflow-x: hidden; 
      overflow-x: auto; 
      text-align:justify; 
  } 














  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    float: left;
    border: none;
    
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  









  body {
    background: linear-gradient(to right, #c04848, #480048);
    min-height: 100vh;
}

.text-gray {
    color: #aaa
}

img {
    height: 170px;
    width: 140px
}
















    