<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">


        <li>
          <div id="mySidebar" class="sidebar">
            <a class="closebtn" (click)="closeNav()">×</a>
            <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Wish List</a></li>
            <li> <a href="#">Feedback</a></li>
            <li>  <a href="#">Orders</a></li></ul>
          </div>
        
          
          <a (click)="openNav()"><b>☰ </b></a>  
          
    
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>Categories</b> <span class="caret"></span></a>
          <ul class="dropdown-menu" (click)="getCategoryProducts($event)">
            <li><a>All Products</a></li>
           <li><a *ngFor="let product of products">{{product.productCategory}}</a></li>
          </ul>
        </li>
      

      
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><b>Discounts</b> <span class="caret"></span></a>
          <ul class="dropdown-menu" (click)="getDiscountProducts($event)">
            <li><a>Less than 50</a></li>
            <li><a>50-60</a></li>
            <li><a>60-70</a></li>
            <li><a>Greater than 70</a></li>
          </ul>
        </li>
      
      <li> <a id="title" (click)="openPop()" ><b>Coupons </b></a></li>

       

        
         

         </ul>
         <div style="float: right;">
         <div class="search-container">
          <form class="form-inline">
            <input  class="form-control mr-sm-2" style="width: 500px;margin-right: 3px;margin-top: 6px;" type="text"    required  [(ngModel)]="searchProduct" name="username" ngModel>
           <input class="btn btn-primary" type="submit" value="Search" style="margin-top: 6px;" (click)="search()"><i class="glyphicon glyphicon-triangle-bottom"></i>
          
            
           
          </form>
        </div>
      </div>
    

    </div>
  </nav></div>

<div>
<div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide"><a (click)="show()"><h3>Product 1</h3></a></div>
    <div class="slide"><a (click)="show()"><h3>Product 2</h3></a></div>
    <div class="slide"><a (click)="show()"><h3>Product 3</h3></a></div>
    <div class="slide"><a (click)="show()"><h3>Product 4</h3></a></div>
    <div class="slide"><a (click)="show()"><h3>Product 1</h3></a></div>
    <div class="slide"><h1 class="slide-number">6</h1></div>
    
  </div>
</div>

</div>




<br><br>
<marquee behaviour="scroll" direction="left" >
  
<div class="card" style="background-color: white;" >
  <img src="" alt="Product Image">
  <h3>Product Name</h3>
  <p class="price">Product Cost</p>
  
  <p><button style="width: 70%;height: 40px; text-align: center; background-color:chartreuse; color: black;"><small> Product</small></button></p>
</div>

<div class="card" style="background-color: white;">
  <img src=""  alt="Product Image" >
  <h3>Product Name</h3>
  <p class="price">Product Cost</p>
  
  <p><button style="width: 70%;height: 40px; text-align: center; background-color:chartreuse; color: black;"><small> Product</small></button></p>
</div>

</marquee>
<br><br>




  
 
   {{searchProduct}}
    <br><br>



  


  <div class="w3-container">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <span (click)="closePop()" class="w3-button w3-display-topright">&times;</span>
          <div class="scroll">
          <h1>Coupon details will be displayed</h1>
          <h1>Coupon details will be displayed</h1><h1>Coupon details will be displayed</h1><h1>Coupon details will be displayed</h1>
          <h1>Coupon details will be displayed</h1><h1>Coupon details will be displayed</h1>
          <h1>Coupon details will be displayed</h1><h1>Coupon details will be displayed</h1><h1>Coupon details will be displayed</h1><h1>Coupon details will be displayed</h1>
          </div>
        </div>
      </div>
    </div>
  </div>








<ng-container *ngIf="noShow" style="text-align: center; margin-left: 400px;">
  <div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item" *ngFor="let product of categoryProducts">
                    <!-- Custom content-->
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Product Name</h5>
                            <p class="font-italic text-muted mb-0 small">Product Info</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">{{product.productPrice}}</h6>
                                <ul class="list-inline small">
                                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                              </ul>

                            </div>
                            
                        </div><img src="https://i.imgur.com/6IUbEME.jpg" alt="Product Image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        
                    </div> <!-- End -->
                    <br>
                    <button type="button" class="btn btn-default btn-rounded peach-gradient" style="background-color: greenyellow;"><b>Product</b></button>
                </li> <!-- End -->
                <!-- list group item-->
                
                
                
            </ul> <!-- End -->
        </div>
    </div>
</div>
</ng-container>
 
  
  
</body>

